#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        /*
         * COL0      = XIAO D8
         * COL1-8    = MCP23017 GPA0-7
         * COL9-16   = MCP23017 GPB0-7
         * COL17     = XIAO D9
         */
        col-gpios
            = <&xiao_d 8 GPIO_ACTIVE_HIGH>
            , <&mcp23017 0 GPIO_ACTIVE_HIGH>
            , <&mcp23017 1 GPIO_ACTIVE_HIGH>
            , <&mcp23017 2 GPIO_ACTIVE_HIGH>
            , <&mcp23017 3 GPIO_ACTIVE_HIGH>
            , <&mcp23017 4 GPIO_ACTIVE_HIGH>
            , <&mcp23017 5 GPIO_ACTIVE_HIGH>
            , <&mcp23017 6 GPIO_ACTIVE_HIGH>
            , <&mcp23017 7 GPIO_ACTIVE_HIGH>
            , <&mcp23017 8 GPIO_ACTIVE_HIGH>
            , <&mcp23017 9 GPIO_ACTIVE_HIGH>
            , <&mcp23017 10 GPIO_ACTIVE_HIGH>
            , <&mcp23017 11 GPIO_ACTIVE_HIGH>
            , <&mcp23017 12 GPIO_ACTIVE_HIGH>
            , <&mcp23017 13 GPIO_ACTIVE_HIGH>
            , <&mcp23017 14 GPIO_ACTIVE_HIGH>
            , <&mcp23017 15 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH>
            ;

        /*
         * ROW0-3 = XIAO D0-D3
         * ROW4   = XIAO D6
         * ROW5   = XIAO D7
         */
        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };


    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";

        rows = <6>;
        columns = <18>;

        map = <
            /* 今の99キーのRC(...)はそのまま */
        >;
    };


    /*
     * Soft Off Wake
     *
     * Esc = ROW0 / COL0
     * ROW0 = D0 = P0.02
     * COL0 = D8 = P1.13
     */
    soft_off_keys {
        compatible = "gpio-keys";

        soft_off_gpio_key: soft_off_gpio_key {
            gpios = <&gpio0 2
                (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
    };

    soft_off_wakeup: soft_off_wakeup {
        compatible = "zmk,gpio-key-wakeup-trigger";

        trigger = <&soft_off_gpio_key>;
        wakeup-source;

        extra-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&soft_off_wakeup>;
    };


    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };
};


/*
 * XIAO nRF52840
 *
 * D4 = SDA
 * D5 = SCL
 */
&xiao_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp230xx";
        reg = <0x20>;

        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;

        status = "okay";
    };
};